.signUpBody{
	background: url(../images/background.jpg) no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.signUpMain .panel-heading{
	background-color: #1C8ADB;
	border-color: #1C8ADB;
}

.signUpMain h3{
	font-family: 'Russo One', sans-serif;
	color: #FFF;
}

.signUpBtn{
	margin: 5px;
	background-color: #1C8ADB;
	color: #FFF;
}

