body {
  	padding : 50px;
  	font : 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  	color : #00B7FF;
}


.centerText{
	text-align : center;
}

.rightText{
	text-align : right;
}

.submit{
	margin : 5px;
}

.right {
	float : right; 
}

.left{
	float : left;
}

.error{
	color: red;
}

.delete{
	width:30px;
	height:30px;
	border-radius:15px;
	border-color:#cc0000;
	font-size:15px;
	color:#fff;
	text-align:center;
	background:#cc0000
}

li:hover {
	background-color: #E3F9FA;
};

}
