/* common */
a {
  	color : #00B7FF;
}

.wrapper{
	width: 40%;
	margin: 0 auto;
}

.centerText{
	text-align : center;
}

.rightText{
	text-align : right;
}

.submit{
	margin : 5px;
}

.addPic{
	margin : 5px;
}

.right {
	float : right; 
}

.left{
	float : left;
}

/* login */
.loginBody{
	background: url(../images/background.jpg) no-repeat center center fixed; 
	-webkit-background-size: cover;
     	-moz-background-size: cover;
   	-o-background-size: cover;
 	background-size: cover;
}

.loginHeader{
	padding: 10px;
	background: rgba(54, 25, 25, 0.4);
}

.loginMain{
	padding: 10px;
}

.loginText{
	font-family: 'Russo One', sans-serif;
	color: #FFF;
}

.loginMain .panel-heading{
	background-color: #1C8ADB;
	border: none;
}

.login h3{
	color: #FFF;
}

.titleFont{
	font-size: 30px;
	font-family: 'Russo One', sans-serif;
	color: #FFF;
}


.error{
	color: red;
}

.icon{
	margin-right : 10px;
}

.delete{
	margin-left:10px;
	width:30px;
	height:30px;
	border-radius:15px;
	border-color:#cc0000;
	font-size:15px;
	color:#fff;
	text-align:center;
	background:#cc0000
}

li:nth-child(odd) {
	background-color: #ebebe0;
}

li:hover {
	background-color: #E3F9FA;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-flow: column nowrap;
	max-width: 600px;
}

.text {
	flex: 1;
}

p {
	word-break: break-all;
	width: 600px;   
	width:100%; 
}


