/* common */
a {
  	color : #00B7FF;
}

.margin10{
	margin: 10px;
}

.wrapper{
	width: 40%;
	margin: 0 auto;
}

.centerText{
	text-align : center;
}

.rightText{
	text-align : right;
}

.margin5{
	margin : 5px;
}

.right {
	float : right; 
}

.left{
	float : left;
}

.error{
	color: red;
}

.icon{
	margin-right : 10px;
}

.delete{
	margin-left:10px;
	width:30px;
	height:30px;
	border-radius:15px;
	border-color:#cc0000;
	font-size:15px;
	color:#fff;
	text-align:center;
	background:#cc0000
}

li:nth-child(odd) {
	background-color: #ebebe0;
}

li:hover {
	background-color: #E3F9FA;
}

.container {
	display: flex;
	flex-wrap: wrap;
	flex-flow: column nowrap;
	max-width: 600px;
}

.text {
	flex: 1;
}

p {
	word-break: break-all;
	width: 600px;   
	width:100%; 
}


@media only screen and (max-width: 768px){
	.wrapper{
		width: 50%;
	}

}

@media only screen and (max-width: 480px){
	.wrapper{
		width: 90%;
	}
}
