body {
       	padding: 20px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	background-image: url("/images/map.png"); 
	background-position: center center;
	background-repeat: no-repeat;
    	background-attachment: fixed;
	background-size: cover;
	background-color: #464646;
}

a {
  	color: #00B7FF;
}

h2 {
	color: #F2CB1B;
	font-style: italic;
}

.right {
  	float: right;
}

.left {
	float: left;
}

.textRight {
  	text-align: right;
}

.textCenter {
	text-align: center;
}

.delete{
	position: absolute;
        z-index: 100;
	top: 0px;
	right: 0px;
}

.icon{
	position: absolute;
	z-index:100;
	top: 0px;
	left: 0px;
	padding: 2px;
}

li:nth-child(odd) {
	background-color: #F8FFAD;
}

li:hover {
	background-color: #E3F9FA;
}

.box {
	float: left;
	position:relative;
	height:300px;
	width:200px;
    	background-color: #FCFBBB;
	margin: 2em 10px;
	padding: 2em;
}
		    
.box::after {
	content: "";
	border-color: #E0E089 #fff #fff #E0E089;
	border-style: solid;
	border-width: 0 0 24px 24px;
	bottom: 0;
	position: absolute;
	right: 0;

}

.boxContainer {
	overflow: hidden;
}

/* clearfix */
.boxContainer:before,
.boxContainer:after {
	content: "";
	display: table;
}
			 
.boxContainer:after {
	clear: both;
}
			     
/* For IE 6/7 (trigger hasLayout) */
.boxContainer {
	zoom: 1;
}

/* customize dropdown */
.dropdown-submenu {
	position: relative;
}
  
.dropdown-submenu>.dropdown-menu {
	top: 0;
	left: 100%;
	margin-top: -6px;
	margin-left: -1px;
	-webkit-border-radius: 0 6px 6px 6px;
	-moz-border-radius: 0 6px 6px;
	border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
	display: block;
}

.dropdown-submenu>a:after {
	display: block;
	content: " ";
	float: right;
	width: 0;
	height: 0;
	border-color: transparent;
	border-style: solid;
	border-width: 5px 0 5px 5px;
	border-left-color: #ccc;
	margin-top: 5px;
	margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
	border-left-color: #fff;
}

.dropdown-submenu.pull-left {
	float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
	left: -100%;
	margin-left: 10px;
	-webkit-border-radius: 6px 0 6px 6px;
	-moz-border-radius: 6px 0 6px 6px;
	border-radius: 6px 0 6px 6px;
}

.hide_underLine{
	text-decoration: none;
}
