<!DOCTYPE html>
<html>
<head>
    	<!-- bootstrap -->
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	<!-- Google fonts -->
	<link href="https://fonts.googleapis.com/css?family=Russo+One" rel="stylesheet">

    	<!-- css -->
    	<link rel='stylesheet' href='/stylesheets/style.css'/>
    	<link rel='stylesheet' href='/stylesheets/login.css'/>
</head>

<body class="loginBody">
	<div class="loginHeader">
		<img src="images/sharinginfosystem.png" alt="logo">
		<label class="titleFont"><%= title %></label>
	</div>
	<div class="loginMain">
		<div class="wrapper panel panel-default">
			<div class="panel panel-heading">
				<h3 class="main-title centerText loginText"><%= login %></h3>
			</div>
			<div class="panel panel-body">
	    			<form action="/login" method="post" class="board-form">
					<label>Email</label><br/>
					<input type="email" name="email" class="input form-control" placeholder="Enter Email" required><br/>
					<label>Password</label><br/>
					<input type="password" name="password" class="input form-control" placeholder="Enter Password" required><br/>
        				<button type="submit" class="btn right loginBtn">Login</button>
				</form><br/>
				<a href='/register'>+Sign Up</a><br/><br/>
    				<% if (typeof noUser !== 'undefined') { %>
        				<p class="error centerText"><%= noUser %></p>
	    			<% } %>
			</div>
		</div>
	</div>
</body>
</html>

